<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @job_description %>

    <%= link_to "Edit this job_description", edit_job_description_path(@job_description), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this job_description", job_description_path(@job_description), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to job_descriptions", job_descriptions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>




<div class="flex flex-col mx-auto w-full bg-white max-w-[480px]">
    <header class="flex flex-col justify-center w-full text-3xl text-blue-600 whitespace-nowrap bg-stone-300">
        <div class="flex flex-col items-start pt-7 pr-16 pb-2.5 pl-5 w-full bg-white">
            <div class="flex gap-4">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/34dffddb11c30f0008ad0d05f28308dbf3a61bcaa5bee8aa7abdc5d66d3fe4e7?apiKey=411a4d205f2b49829688c3d446a6d7cb&" alt="Company logo" class="bg-blue-600 rounded-full h-[51px] w-[51px]" />
                <h1 class="grow">LOGO</h1>
            </div>
        </div>
    </header>
    <main>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/aa6df0c16a5e5384d0858393f056a01483e1c9103dc31ed18fb4602be2c7a1db?apiKey=411a4d205f2b49829688c3d446a6d7cb&" alt="Company banner" class="mt-1.5 w-full stroke-[1px] stroke-zinc-300" />
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/05b5695579fe94eac2787053b5d3d77899ee3b4707e073f5a3f9420e607ceaaf?apiKey=411a4d205f2b49829688c3d446a6d7cb&" alt="Company facilities" class="mt-6 w-full aspect-[1.56]" />
        <section class="flex flex-col px-5 mt-5 w-full text-base text-zinc-600">
            <h2 class="text-xl font-medium">織田病院</h2>
            <p>看護師 / 常勤 / 病院 / 病棟</p>
            <button class="justify-center items-center px-16 py-4 mt-7 text-xl font-medium tracking-normal leading-3 text-center text-white whitespace-nowrap bg-blue-500 rounded-3xl">応募する</button>
            <p class="mt-7">患者さんとコミュニケーションをとりながら看護師の仕事をしませんか？人間関係良好、昇給有、社会保険完備！</p>
            <h3 class="mt-7 font-medium">求人情報</h3>
            <hr class="shrink-0 mt-1.5 h-px bg-zinc-400" />
            <p class="mt-2.5 font-bold">
                <span class="font-medium">求人番号 </span>
                <span>0000130101</span>
            </p>
            <hr class="shrink-0 mt-2.5 h-px bg-zinc-400" />
            <p class="mt-2.5 font-bold">
                <span class="font-medium">資格 </span>
                <span>看護師</span>
            </p>
            <hr class="shrink-0 mt-2.5 h-px bg-zinc-400" />
            <p class="mt-4 font-bold">
                <span class="font-medium">雇用形態 </span>
                <span>常勤</span>
            </p>
            <hr class="shrink-0 mt-3.5 h-px bg-zinc-400" />
            <p class="mt-4 font-bold">
                <span class="font-medium">配属先 </span>
                <span>病棟</span>
            </p>
            <hr class="shrink-0 mt-3.5 h-px bg-zinc-400" />
            <p class="mt-4 font-bold">
                <span class="font-medium">総支給 </span>
                <span>325,000円〜</span>
                <span> ※ 各種手当込、経験による</span>
            </p>
            <hr class="shrink-0 mt-3.5 h-px bg-zinc-400" />
            <p class="mt-3.5 font-bold">
                <span class="font-medium">賞与 </span>
                <span>年2回（約3ヶ月分）</span>
            </p>
            <hr class="shrink-0 mt-3 h-px bg-zinc-400" />
            <p class="mt-3.5 font-bold">
                <span class="font-medium">昇給 </span>
                <span>有り（年1回）</span>
            </p>
            <hr class="shrink-0 mt-3 h-px bg-zinc-400" />
            <p class="mt-3.5 font-bold">
                <span class="font-medium">勤務時間 </span>
                <span>【日　勤】 9:00〜18:00</span>
                <br />
                <span>【二交替】 17:00〜翌9:30</span>
                <br />
                <span>【早　出】 7:00〜16:00</span>
                <br />
                <span>【遅　出】 11:00〜20:00</span>
            </p>
            <hr class="shrink-0 mt-3 h-px bg-zinc-400" />
            <p class="mt-3.5 font-bold">
                <span class="font-medium">休日 </span>
                <span>月9日公休（2月は8日）+ 夏冬</span>
                <br />
                <span>各4日</span>
            </p>
            <hr class="shrink-0 mt-3.5 h-px bg-zinc-400" />
            <p class="mt-4 font-bold">
                <span class="font-medium">福利厚生 </span>
                <span>加入保険：厚生年金、健康保険、</span>
                <br />
                <span>雇用、労災</span>
                <br /><br />
                <span>通勤手当：有り（上限月40,000円迄）</span>
                <br />
                <span>退職金：有り（継続3年以上）</span>
            </p>
            <hr class="shrink-0 mt-3 h-px bg-zinc-400" />
            <p class="mt-4 font-bold">
                <span class="font-medium">備考 </span>
                <span>経験2年以上</span>
            </p>
            <hr class="shrink-0 mt-3.5 h-px bg-zinc-400" />
            <div class="flex gap-5 justify-between mt-3">
                <h4 class="font-medium">勤務地</h4>
                <address class="flex-auto">〒121-0917 東京都葛飾区中川A-1</address>
            </div>
        </section>
        <footer class="flex gap-0 justify-between px-5 mt-11 w-full">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e8cdd351fdf5d9a044fe26728eac16aa6e29a066298dfebc44df0e9c95518beb?apiKey=411a4d205f2b49829688c3d446a6d7cb&" alt="Environment" class="flex-1 shrink-0 w-full aspect-[1.89]" />
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3f75d67cf91c1a4f1faf1cf4b4e7321f4f786c4d0c5f4e65cf0bb8540cd8df6f?apiKey=411a4d205f2b49829688c3d446a6d7cb&" alt="Teamwork" class="flex-1 shrink-0 w-full aspect-[1.85]" />
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4aff051421acdafa4ab5d72a1793f35bf25699ae73e0557354e6c4c6a773f940?apiKey=411a4d205f2b49829688c3d446a6d7cb&" alt="Medical equipment" class="flex-1 shrink-0 w-full aspect-[1.89]" />
            <img alt="Hospital room" class="flex-1 shrink-0 w-full aspect-[1.85]" />
        </footer>
    </main>
</div>